<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/kamole -logos_black.png" alt="" />
      <div class="icon-container icon-container--accent">
        <span class="icon icon--small"></span>
      </div>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ad ab at
        perspiciatis officiis repellendus error, enim facere pariatur obcaecati?
      </p>
      <div>
        <div class="media">
          <div class="media__image icon-container">
            <img src="./images/kamole -logos.jpeg" class="icon" alt="" />
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__organization">ABC Company</p>
          </div>
        </div>
      </div>
    </blockquote>
  </div>
</div>
